<div class="fixDisplay3">
    <p style="float: left; ">
        <span style="color: white;">Copyright @ 2018 HTeam. All rights reserved. Design by </span>
        <span id="font-style" style="color: #ff9900;">HTeam</span>
    </p>
    <img id="icon-footer" style="float: right;" src="/images/picons31.png">
    <img id="icon-footer" style="float: right;" src="/images/picons32.png">
    <img id="icon-footer" style="float: right;" src="/images/picons35.png">
    <img id="icon-footer" style="float: right;" src="/images/picons36.png">
    <img id="icon-footer" style="float: right;" src="/images/picons41.png">
    <img id="icon-footer" style="float: right;" src="/images/picons48.png">
    <img id="icon-footer" style="float: right;" src="/images/picons50.png">
</div>

